*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main__logscene{
    display: grid;
    grid-template-columns: 1fr 5px 1fr;
    grid-template-rows: 1fr;;
    height: 90vh;
    width: 100vw;
}
.main__pause{
    background: black;
    align-self: center;
    height: 500px;
}

.main__login, .main__register{
    display: flex;
    justify-content: center;
    justify-self: center;
    align-self: center;
    background: #8A2BE2;
    width: 500px;
    height: 60%;
    box-shadow: 8px 6px #000;
}

.main__login__form, .main__register__form{
    display: flex;
    text-align: center;
    align-self: center;
    flex-direction: column;
}

.main__login__form-label, .main__register__form-label{
    color: #FFF;
    font-size: 28px;
    font-family:"Gill Sans MT";
    margin-top: 15px;
    text-shadow: 2px 2px #000000;
}

.main__login__form-space, .main__register__form-space{
    font-family:"Gill Sans MT";
    height: 50px;
    width: 300px;
    padding-left: 10px;
    margin-top: 10px;
    box-shadow: 4px 3px #000;
}

.main__login__form-loginButton, .main__register__form-RegisterButton{
    height: 50px;
    width: 150px;
    margin-top: 25px;
    font-size: 24px;
    font-family:"Gill Sans MT";
    background: #FFFFFF;
    align-self: center;
}

.main__login__form-loginButton:hover, .main__register__form-RegisterButton:hover{
    background: #000;
    color: #FFFFFF;
    box-shadow: 6px 4px #FFF;
    border: none;
    cursor:pointer;
}

.main__login__form-h, .main__register__form-h{
    color: #FFFFFF;
    font-family: "Gill Sans MT";
    font-size: 38px;
    margin-bottom: 20px;
    text-shadow: 2px 2px #000000;
}