*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

/*Style do nagłówka*/

.header{
    position: fixed;
    width: 100%;
    top: 0px;
    display: flex;
    background: #000;
    height: 84px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 0 #000;
}

.header__nav{
    display: grid;
    grid-template-columns: 390px 650px 1fr;
    align-items: center;
    gap: 50px;
}

.header__nav__list{
    display: grid;
    grid-template-columns: repeat(3,200px);
    gap: 30px;
    text-align: center;
}

.header__nav__item{
    padding: 5px;
    font-size: 24px;
    list-style-type: none;
    color: #FFF;
}

.header__nav__title{
    display: flex;
    height: 64px;
    font-size: 48px;
    align-items: center;
}

.header__nav__title-link{
    color: #8A2BE2;
}

.header__nav__title-logo{
    padding-top: 12px;
    padding-right: 10px;
}

.header__nav__login{
    display: flex;
    height: 74px;
    align-items: center;
}

.header__nav__login-search{
    height: 35px;
    width: 350px;
    margin-right: 40px;
    padding-left: 10px;
}

.header__nav__login-button{
    width: 200px;
    background: #000;
    color: #FFF;
    padding: 10px;
    font-size: 15px;
    border: none;
}

.header__nav__item:hover{
    background: #8A2BE2;
    box-shadow: 3px 2px #FFF;
}

.header__nav__login-button:hover{
    box-shadow: 3px 2px #FFF;
    background: #8A2BE2;
    cursor:pointer;
}
.header__nav__isLogged{
    color: white;
    position: relative;
}

.header__nav__isLoggedList{
    display: none;
    list-style-type: none;
    width: 150px;
    height: 100px;
    text-align: center;
    position: absolute;
    background: #8A2BE2;
    padding: 0;
    text-shadow: 2px 2px #000000;
    margin-top: 10px;
}

.header__nav_isLogged-login{
    padding-bottom: 10PX;
    font-size: 20px;
    cursor:pointer;
}

.header__nav__isLoggedList-item {
    padding: 1rem;
    cursor:pointer;
    text-decoration: none;
    color: white;
}

.header__nav__isLoggedList-button{
    border: none;
    height: 20px;
    background: none;
    width: 100%;
    cursor:pointer;
    color: #FFFFFF;
}

.header__nav__isLoggedList-item:hover, .header__nav__isLoggedList-button:hover{
    background: #000000;
}

.header__nav_isLogged-login:hover + .header__nav__isLoggedList{
    display: block;
}

.header__nav__isLoggedList:hover{
    display: block;
}